{% extends 'base.html'%}

{% block content%}

<style>
    #create-patient-box{

padding: 10px;
margin-top: 2%;

width: 80%;

height: 40vh;
}
#create-patient-container{
padding: 5px;
margin-left: 5%;

}
#create-patient-box input{
margin-left: 5%;
color: black;
margin-bottom: 5%;
}

#create-patient-container input{
background-color: transparent;

}
select{
background-color: transparent;
margin-bottom: 5%;
}
#search-user{
    position: absolute;
    right: 25%;
}
#search-user input{
    background-color: transparent;
}

</style>
<div id="search-user">
    <form method="post" action="{% url 'checkmobile'%}">
        {% csrf_token %}
        <h4>Search username by mobile number</h4>
        <input placeholder="Enter mobile number" type="text" name="mobileno" required><br>
        <button type="submit">Search</button>

    </form>
    {% if users %}
        {% for i in users %}
            <span>@{{i.username}}</span><br>
        {% endfor %}
    {% endif %}
</div>


<div id="management-content">
    <div id="create-patient-box">
        <div id="create-patient-container">
            <h2 style="margin-bottom: 5%;">Create Patient Profile</h2>
            <form method="POST" action="{% url 'createreport' %}">
                {% csrf_token %}
                <label>Username :</label>
                <input name="username" type="text"  required><br>
                <label> Gender:</label><select name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <br>
                <label>Prescription:</label>
                <input type="text" name="prescription"  required>
                    <br>
                <label> Dob:</label>
                <input type="date" name="date"  required>
                <br>
                <label> Blood Group:</label>
                <select name="blood">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="AB">AB</option>
                <option value="O">O</option>
                </select>
                <br>
                <label>Doctor name:</label>
                <input type="text" name="dname" required>
                <br>
                <strong><b>{{error}}</b></strong>
                <button type="submit" id="signup-submit">submit</button><br>
            </form>
        </div>
    </div>

{% endblock content%}